
h1 {
    font-size: 3vw;
    text-align: center;
    color: orange;
}

.couriernew {
    font-family: 'Courier New', Courier, monospace ;
    color: orange;
}
.center {
    text-align: center;
}
.Geneva {
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    background-color: grey ;
    background-color: beige !important;
}


p{
    color: beige;
}