h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #FFA559;
    flex-wrap: wrap;
    flex-direction: row;
    color: orange;
    font-family: Verdana;
  
    
}
.flex-item {
    background-color: #454545;
    padding: 5px;
    margin: 6px;
}