.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "sidebar content"
        "ad      footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: 700px) {
        .wrapper {
          grid-template-columns: 1fr 4fr 1fr;
          grid-template-areas:
            "header header  header"
            "nav    content sidebar"
            "nav    content ad"
            "footer footer  footer";
        }
        nav ul {
          flex-direction: column;
        }
      }
      
      .item1 {
        grid-column: col-start / span 3;
      }
      .item2 {
        grid-column: col-start 6 / span 4;
        grid-row: 1 / 3;
      }
      .item3 {
        grid-column: col-start 2 / span 2;
        grid-row: 2;
      }
      .item4 {
        grid-column: col-start 3 / -1;
        grid-row: 3;
      }
  }
.main-head {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }

  .brlarge {
    display: block;
    margin-bottom: 20em;
}